body {
  margin: 0;
  font-family: "Work Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: 700 !important;
}

h3 {
  font-weight: 600 !important;
}

h5 {
  font-weight: 500 !important;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#current-tasks,
#waiting-tasks,
#completed-tasks {
  padding-bottom: 1rem;
}

a {
  color: #19a7ce !important;
}

.btn-primary {
  background-color: #19a7ce !important;
  border-color: #19a7ce !important;
}

.navbar {
  background-color: #f6f1f13e !important;
  border-bottom: 1.5px solid #0000001b;
}
